<div class="row" *ngIf="getPostArr.length > 0; else : noPost">
    <div class="col-md-4 mt-4" *ngFor="let post of getPostArr; trackBy : trackByPostID">
        <div class="card h-100">
            <div class="card-header">{{post.title}}</div>
            <div class="card-body">
                <strong [ngClass]="{
                    'text-danger' : !post.isCompleted,
                    'text-success' : post.isCompleted  
                }">{{post.isCompleted ? 'completed' : 'Not Completed'}}</strong>
                <p> {{post.content}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button (click)="onEdit(post)" mat-raised-button color="primary">Edit</button>
                <button (click)="onRemove(post.postID)" mat-raised-button color="warn">Remove</button>
            </div>
        </div>
    </div>
</div>
<ng-template #noPost>
    <p class="alert alert-info">No Post!!!</p>
</ng-template>